


body {

  background-color: aquamarine;
 
}

.container {

  position: relative;
}

.image {

  display: flex;
  justify-content: center;
  
  
}


.mesure-nord {
  color: blue;
  position: absolute;
  transform: translate(580px, 200px);
  
}

.mesure-sud {
  color: green;
  position: absolute;
  transform: translate(580px, 550px);
}

.mesure-est {
  color: red;
  position: absolute;
  transform: translate(720px, 300px);
}

.mesure-ouest {
  color: orangered;
  position: absolute;
  transform: translate(470px, 300px);
}


.mesure-centre {
  color: brown;
  position: absolute;
  transform: translate(600px, 325px);
}


